/*@media (min-width: 0px) and (max-width: 447px) {*/
  /*.ContentContainer {*/
    /*width: 214px !important;*/
  /*}*/
/*}*/

/*@media (min-width: 448px) and (max-width: 661px) {*/
/*@media (max-width: 661px) {*/
  /*.ContentContainer {*/
    /*width: 428px !important;*/
  /*}*/
/*}*/

@media (min-width: 702px) {
  .ContentContainer {
    width: 682px !important;
    padding: 0 20px !important;
  }
}

@media (min-width: 916px) {
  .ContentContainer {
    width: 896px !important;
  }
}

@media (min-width: 1130px) {
  .ContentContainer {
    width: 1110px !important;
  }
}

@media (min-width: 1344px) {
  .ContentContainer {
    width: 1324px !important;
  }
}

