.StackedVideoCard {
  position: relative;
  width: 100%;
  min-height: 90px;
  margin-bottom: 8px;
  margin-right: 4px;

  & img {
    width: 160px;
  }

  & h5 {
    margin: 0 0 0 8px !important;
    overflow: hidden;
    max-height: calc(1.28571429em * 2) !important;
  }
}

@media (max-width: 400px) {
  .StackedVideoCard {
    width: 100%;

    & img {
      width: 100%;
    }
  }
}

.Playtime {
  position: absolute;
  right: 4px;
  margin-top: -24px;
  background: #191C1C;
  color: rgb(250, 250, 250);
  padding: 0 4px;
  font-size: 11px;
  font-weight: bold;
}

.AuthorLink {
  font-size: .9em;
  color: #777;
}

.Rewards {
  float: left;
}

.Date {
  float: left;
  color: #777;
  margin-left: 4px;
}
