:global(.emoji-mart-emoji) {
  padding: 4px;
  cursor: pointer;
  /*border-radius: 24px;*/
  /*height: 24px !important;*/


  &:hover {
     /*background-color: red !important;*/
  }
}

.Emojis {
  position: relative;
  top: 2px !important;
  display: inline-block;
}

.OpenPickerButton {
  position: relative;
  top: 3px !important;
  margin: 0 0 !important;
  margin-right: 4px !important;
  padding: 0 4px !important;
  background: none !important;
}
