.ChannelBanner {
  position: relative;
  min-height: 150px;
  max-height: 240px;
  background-color: #171F24;
}

.BannerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute !important;
}
