.Sidebar {
  /*height: 100vh !important;*/
  height: 100%;
  overflow-y: scroll;
  top: 56px !important;
  padding-bottom: 56px;
  background-color: rgb(250, 250, 250);

}

.Item {

  &::before {
    display: none !important;
  }
}
